# Distribution Files
dist

# Temporary Directories
temp
tmp

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Log files, temp files, backups etc
*.log
*.tmp
*.temp
*.bak

# Common Annoyances
*.DS_Store
thumbs.db
